/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-v29-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('fonts/roboto-v29-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/roboto-v29-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/roboto-v29-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/roboto-v29-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
}

.container {
    margin: 0 auto;
    padding: 10px 15px;
    width: 1200px;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.operator-list {
    margin: 0;
    padding: 0;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
}

.operator-item:not(:nth-child(5)) {
    margin-right: 15px;
    margin-bottom: 15px;
}

.operator-pay {
    font-size: 2rem;
}

.form {
    flex-direction: column;
}

.form__label {
    margin-bottom: 15px;
}

.form__input {
    margin-bottom: 15px;
    font-size: 2rem;
    text-align: center;
}

.form__submit {
    margin-bottom: 15px;
    font-size: 2rem;
}

.btn-back {
    font-size: 2rem;
}

.hide {
    display: none;
}